<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="serverInfo" value="web:dc4135e1-adea-4a24-b91b-76c7eccca6ad,mstsc:55828217-7d78-44ad-9043-9300e5b392bd"/>
	</appSettings>
</configuration>
