<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<!--是否开启窗体调试-->
		<add key="debug" value="false"/>
		<!--指定服务名称以及token地址 例如 mstsc:55828217-7d78-44ad-9043-9300e5b39211-->
		<add key="serverInfo" value="mstsc:55828217-7d78-44ad-9043-9300e5b39211"/>
	</appSettings>
</configuration>
